---
layout: default
title: "Smart Money Tips & Budget Hacks"
---

<h1>Welcome to the Blog</h1>
<p>Save Smarter. Earn More. Keep More of What's Yours.</p>

<h2>Latest Articles</h2>
<ul>
  {% for post in site.posts limit:3 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <br>
      <small>{{ post.date | date: "%B %d, %Y" }}</small>
    </li>
  {% endfor %}
</ul>

<h2>All Other Articles</h2>
<ul>
  {% for post in site.posts offset:3 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <br>
      <small>{{ post.date | date: "%B %d, %Y" }}</small>
    </li>
  {% endfor %}
</ul>
