{% if include.related_posts and include.related_posts.size > 0 %}
<aside class="related-posts">
  <h3>You Might Also Like</h3>
  <div class="related-grid">
    {% for post in include.related_posts limit: 3 %}
    <a href="{{ post.url | relative_url }}" class="related-card">
      {% if post.image %}
      <div class="related-card-img" style="background-image: url('{{ post.image | absolute_url }}');"></div>
      {% else %}
      <div class="related-card-img related-card-img-placeholder"></div>
      {% endif %}
      <div class="related-card-body">
        <h4>{{ post.title }}</h4>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
      </div>
    </a>
    {% endfor %}
  </div>
</aside>
{% endif %}